# Data preparation and Exploration

Prepare data from [restaurant inspections](https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/xx67-kt59) Note: Exported as csv.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Look at the available data and prepare table of previous inspections
Some descriptives, complete table

I only consider top 4 years.

In [2]:
violations = pd.read_csv('violationsTable.csv', sep=',',engine='python')

In [3]:
violations.head()

   Unnamed: 0     CAMIS VIOLATION CODE        date  year  month  day
0           0  50041313            02B  2016-01-26  2016      1   26
1           1  41312955            02G  2014-04-01  2014      4    1
2           2  41601691            10H  2015-10-26  2015     10   26
3           3  50043431            10F  2017-05-19  2017      5   19
4           4  50001580            02G  2015-12-01  2015     12    1

In [4]:
violations['violation group']=violations['VIOLATION CODE'].str.extract('(\d\d)')

C:\Users\Vicente\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

In [5]:
violationsCodeAgg = violations[['CAMIS','date','year','violation group']]
violationsCodeAgg.set_index(['CAMIS','date'],inplace=True)
violationsCodeAgg.head()

                     year violation group
CAMIS    date
50041313 2016-01-26  2016              02
41312955 2014-04-01  2014              02
41601691 2015-10-26  2015              10
50043431 2017-05-19  2017              10
50001580 2015-12-01  2015              02

In [ ]:
# Separate cycle

In [16]:
# make a counter within CAMIS and Year
# to record the number of inspections within one year
#violationsCodeAgg.reset_index().set_index(['CAMIS','year']).stack().groupby(level=0).agg('sum')
#violationsCodeAgg.head()#.stack()

CAMIS
30075445    2015-02-09062016-02-18082017-05-18102017-05-18...
30112340    2016-04-122015-05-07102016-10-03082014-11-1304...
30191841    2015-09-21102015-08-31042015-08-31082015-08-31...
40356018    2016-05-16062016-05-16102015-06-05082015-06-05...
40356151    2016-05-14042014-11-15042014-05-02062014-11-15...
40356483    2015-05-08102016-04-20102016-04-20102017-06-03...
40356731    2015-06-26102014-07-14102017-06-22042014-07-14...
40357217     2015-05-06082015-05-06042016-04-19102017-06-1410
40359480                     2016-05-062014-05-07102015-06-09
40359705    2014-11-29042016-06-01062014-11-29102015-08-20...
40360045    2017-04-20082015-04-16082014-10-20042016-08-08...
40360076    2017-03-16102016-02-09062017-03-16102015-01-22...
40361322    2015-03-09082014-10-07042014-10-28102015-04-01...
40361606    2016-05-05042016-05-05102016-05-05082014-11-19...
40361618    2016-01-28062014-08-16062014-08-16062015-07-23...
40361708    2014-01-21102016-01-12022016-01-12022015-01-06...
40361998     2017-07-10062017-07-10102016-02-22062015-03-0410
40362098    2016-01-26042014-02-03082016-01-26042014-02-03...
40362264    2016-04-04062014-08-18062014-08-18042017-06-05...
40362274    2015-03-31022017-06-28202016-10-25102016-11-18...
40362432    2017-04-26102015-03-31102016-04-07042017-04-26...
40362715    2014-09-26022015-08-21102015-02-13022016-09-06...
40362869    2014-05-13102015-06-03022015-12-10102017-01-23...
40363093    2016-03-21062016-03-21082015-04-13102016-04-11...
40363098    2014-12-30102015-12-14102017-01-12042015-12-14...
40363298    2014-06-09102015-05-18102014-06-09042014-06-09...
40363333    2014-05-08102014-05-08042015-05-13042015-05-13...
40363426    2014-02-21202015-02-09222016-05-13102015-02-09...
40363427    2015-06-12062015-06-12102016-06-06062016-06-06...
40363565    2014-09-17102014-08-15102014-09-17022016-09-09...
                                  ...
50065731    2017-07-10102017-07-06042017-07-06082017-07-06...
50065733                 2017-06-16102017-06-16102017-06-1606
50065769                             2017-07-05092017-07-0505
50065772                                         2017-07-1003
50065773                             2017-07-05042017-07-0510
50065774     2017-07-10052017-07-10052017-07-10052017-07-1006
50065775                             2017-07-12222017-07-1202
50065802                                         2017-06-1404
50065807                 2017-07-06062017-07-06042017-07-0608
50065821     2017-07-06062017-07-06042017-07-06082017-07-0605
50065833    2017-06-24102017-06-24042017-06-24082017-06-24...
50065840                             2017-06-21152017-06-2106
50065848     2017-06-28052017-06-28062017-06-28102017-06-2805
50065912                 2017-06-29052017-07-06062017-06-2906
50065959    2017-07-11042017-07-11152017-07-11102017-07-11...
50065983                                         2017-07-0606
50065984                             2017-07-06022017-07-0604
50065986                                         2017-06-2704
50066030                             2017-06-28102017-06-2805
50066065    2017-07-06022017-07-06042017-07-06062017-07-06...
50066067    2017-07-12102017-07-12042017-07-12102017-07-12...
50066073     2017-07-10102017-07-10152017-07-10082017-07-1010
50066159                 2017-07-06102017-07-06062017-07-0615
50066194                 2017-07-10202017-07-10102017-07-1015
50066199    2017-06-28102017-06-28052017-06-28042017-06-28...
50066230                             2017-07-12062017-07-1215
50066323                             2017-06-27052017-06-2710
50066434                 2017-07-11152017-07-11102017-07-1105
50066444    2017-07-06082017-07-06042017-07-06102017-07-06...
50066821     2017-07-13102017-07-13152017-07-13102017-07-1305
Length: 25481, dtype: object

In [55]:
# Testing with one restaurant
#cy_some = pd.DataFrame(CycleInspections[CycleInspections['CAMIS'] == 50043431])
#violationsDF.sort_values('date').head()
# hold presence of a violation
df_multi = violationsDF[['CAMIS','date','VIOLATION CODE']]
df_multi['violation_presence'] = 1
df_multi.head()

C:\Users\Vicente\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      CAMIS        date VIOLATION CODE  violation_presence
0  50041313  2016-01-26            02B                   1
1  41312955  2014-04-01            02G                   1
2  41601691  2015-10-26            10H                   1
3  50043431  2017-05-19            10F                   1
4  50001580  2015-12-01            02G                   1

In [56]:
df_multi.set_index(['date', 'CAMIS'])
df_multi = df_multi.pivot_table(index = ['CAMIS','date'], columns='VIOLATION CODE')
df_multi.head()

                    violation_presence                                       \
VIOLATION CODE                     02A 02B 02C 02D 02E 02F  02G 02H 02I 02J
CAMIS    date
30075445 2015-02-09                NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN
         2016-02-18                NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN
         2017-05-18                NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN
30112340 2014-07-01                NaN NaN NaN NaN NaN NaN  1.0 NaN NaN NaN
         2014-11-13                NaN NaN NaN NaN NaN NaN  NaN NaN NaN NaN

                    ...
VIOLATION CODE      ... 20B 20D 20E 20F 22A 22B 22C 22E 22F 22G
CAMIS    date       ...
30075445 2015-02-09 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
         2016-02-18 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
         2017-05-18 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
30112340 2014-07-01 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN
         2014-11-13 ... NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN

[5 rows x 97 columns]

## Inspections table
From inspections with cycle inspections.

In [6]:
#CycleInspections = pd.read_csv('CycleInspections.csv', sep=',',engine='python')
CycleInspections_out = pd.read_csv('CycleInspections_out.csv', sep=',',engine='python')
len(CycleInspections_out)

326871

In [8]:
CycleInspections_out.head()

,Unnamed: 0,CAMIS,date,BORO,DBA,INSPECTION TYPE,SCORE,GRADE DATE,RECORD DATE,year,month,day,VIOLATION CODE,VIOLATION DESCRIPTION
0,1,41312955,2014-04-01,QUEENS,RIPE JUICE BAR & GRILL,Cycle Inspection / Re-inspection,12.0,04/01/2014,07/15/2017,2014,4,1,02G,Cold food item held above 41Ã‚Âº F (smoked fis...
1,2,41601691,2015-10-26,BROOKLYN,WAZA SUSHI,Cycle Inspection / Initial Inspection,25.0,NaN,07/15/2017,2015,10,26,10H,Proper sanitization not provided for utensil w...
2,3,50043431,2017-05-19,MANHATTAN,SEATTLE CAFE,Cycle Inspection / Initial Inspection,35.0,NaN,07/15/2017,2017,5,19,10F,Non-food contact surface improperly constructe...
3,4,50001580,2015-12-01,STATEN ISLAND,CIRO PIZZA CAFE,Cycle Inspection / Re-inspection,8.0,12/01/2015,07/15/2017,2015,12,1,02G,Cold food item held above 41Ã‚Âº F (smoked fis...
4,6,41722020,2017-04-12,BRONX,2 BROS PIZZA,Cycle Inspection / Initial Inspection,22.0,NaN,07/15/2017,2017,4,12,04A,Food Protection Certificate not held by superv...

In [9]:
cycle_violations = CycleInspections_out[['CAMIS','date','BORO','year','INSPECTION TYPE','VIOLATION CODE']]
cycle_violations.head()

,CAMIS,date,BORO,year,INSPECTION TYPE,VIOLATION CODE
0,41312955,2014-04-01,QUEENS,2014,Cycle Inspection / Re-inspection,02G
1,41601691,2015-10-26,BROOKLYN,2015,Cycle Inspection / Initial Inspection,10H
2,50043431,2017-05-19,MANHATTAN,2017,Cycle Inspection / Initial Inspection,10F
3,50001580,2015-12-01,STATEN ISLAND,2015,Cycle Inspection / Re-inspection,02G
4,41722020,2017-04-12,BRONX,2017,Cycle Inspection / Initial Inspection,04A

In [30]:
cycle_violations['re-inspection']=cycle_violations['INSPECTION TYPE'] == 'Cycle Inspection / Re-inspection'
cycle_violations.head()

C:\Users\Vicente\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,CAMIS,date,BORO,year,INSPECTION TYPE,VIOLATION CODE,re-inspection
0,41312955,2014-04-01,QUEENS,2014,Cycle Inspection / Re-inspection,02G,True
1,41601691,2015-10-26,BROOKLYN,2015,Cycle Inspection / Initial Inspection,10H,False
2,50043431,2017-05-19,MANHATTAN,2017,Cycle Inspection / Initial Inspection,10F,False
3,50001580,2015-12-01,STATEN ISLAND,2015,Cycle Inspection / Re-inspection,02G,True
4,41722020,2017-04-12,BRONX,2017,Cycle Inspection / Initial Inspection,04A,False

In [31]:
cycle_violations['violation group']=cycle_violations['VIOLATION CODE'].str.extract('(\d\d)')
cycle_violations.head()

C:\Users\Vicente\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.
C:\Users\Vicente\Anaconda3\envs\py35\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,CAMIS,date,BORO,year,INSPECTION TYPE,VIOLATION CODE,re-inspection,violation group
0,41312955,2014-04-01,QUEENS,2014,Cycle Inspection / Re-inspection,02G,True,02
1,41601691,2015-10-26,BROOKLYN,2015,Cycle Inspection / Initial Inspection,10H,False,10
2,50043431,2017-05-19,MANHATTAN,2017,Cycle Inspection / Initial Inspection,10F,False,10
3,50001580,2015-12-01,STATEN ISLAND,2015,Cycle Inspection / Re-inspection,02G,True,02
4,41722020,2017-04-12,BRONX,2017,Cycle Inspection / Initial Inspection,04A,False,04

In [33]:
cycle_violations.sort_values(['CAMIS','date']).head(20)

,CAMIS,date,BORO,year,INSPECTION TYPE,VIOLATION CODE,re-inspection,violation group
42774,30075445,2015-02-09,BRONX,2015,Cycle Inspection / Initial Inspection,06C,False,06
144174,30075445,2016-02-18,BRONX,2016,Cycle Inspection / Initial Inspection,08A,False,08
182335,30075445,2016-02-18,BRONX,2016,Cycle Inspection / Initial Inspection,04L,False,04
147547,30075445,2017-05-18,BRONX,2017,Cycle Inspection / Initial Inspection,10F,False,10
149092,30075445,2017-05-18,BRONX,2017,Cycle Inspection / Initial Inspection,06D,False,06
211392,30112340,2014-07-01,BROOKLYN,2014,Cycle Inspection / Re-inspection,02G,True,02
222565,30112340,2014-07-01,BROOKLYN,2014,Cycle Inspection / Re-inspection,04J,True,04
237436,30112340,2014-07-01,BROOKLYN,2014,Cycle Inspection / Re-inspection,06A,True,06
47951,30112340,2014-11-13,BROOKLYN,2014,Cycle Inspection / Initial Inspection,04H,False,04
178890,30112340,2014-11-13,BROOKLYN,2014,Cycle Inspection / Initial Inspection,06A,False,06
298873,30112340,2014-11-13,BROOKLYN,2014,Cycle Inspection / Initial Inspection,10F,False,10
198832,30112340,2014-12-30,BROOKLYN,2014,Cycle Inspection / Re-inspection,10F,True,10
225596,30112340,2014-12-30,BROOKLYN,2014,Cycle Inspection / Re-inspection,06C,True,06
9109,30112340,2015-05-07,BROOKLYN,2015,Cycle Inspection / Initial Inspection,10B,False,10
251666,30112340,2015-05-07,BROOKLYN,2015,Cycle Inspection / Initial Inspection,04A,False,04
7372,30112340,2016-04-12,BROOKLYN,2016,Cycle Inspection / Initial Inspection,NaN,False,NaN
52888,30112340,2016-04-30,BROOKLYN,2016,Cycle Inspection / Re-inspection,10E,True,10
82147,30112340,2016-04-30,BROOKLYN,2016,Cycle Inspection / Re-inspection,10B,True,10
180930,30112340,2016-04-30,BROOKLYN,2016,Cycle Inspection / Re-inspection,06B,True,06
324757,30112340,2016-04-30,BROOKLYN,2016,Cycle Inspection / Re-inspection,08C,True,08

In [ ]:
cycle_violations = cycle_violations[['CAMIS','date','BORO','year','re-inspection', 'violation group']]

In [60]:
#cycle_violations.set_index(['CAMIS','BORO','year','date'],inplace=True)
cycle_violations.reset_index(inplace=True)

In [61]:
#
cycle_violations.sort_index()
cycle_violations.head(10) 
# cycle_violations.sort_values(['CAMIS','date','BORO','year']).head()

      CAMIS           BORO  year        date  re-inspection violation group
0  41312955         QUEENS  2014  2014-04-01           True              02
1  41601691       BROOKLYN  2015  2015-10-26          False              10
2  50043431      MANHATTAN  2017  2017-05-19          False              10
3  50001580  STATEN ISLAND  2015  2015-12-01           True              02
4  41722020          BRONX  2017  2017-04-12          False              04
5  41049159      MANHATTAN  2015  2015-05-08          False              04
6  41713457      MANHATTAN  2016  2016-06-24           True              02
7  41382811          BRONX  2017  2017-03-01           True              04
8  41469234         QUEENS  2016  2016-02-17          False              08
9  50034192      MANHATTAN  2016  2016-04-26          False              08

In [65]:
cycle_violations.to_csv('cycle_violations.csv')

In [62]:
# same year?
cyc_viol2014 = cycle_violations[cycle_violations['year'] == 2014]

In [63]:
cyc_viol2014.head()

       CAMIS       BORO  year        date  re-inspection violation group
0   41312955     QUEENS  2014  2014-04-01           True              02
12  40718557  MANHATTAN  2014  2014-02-25          False              04
22  40660124   BROOKLYN  2014  2014-09-13          False              10
23  41709379   BROOKLYN  2014  2014-05-19          False              06
34  40609590  MANHATTAN  2014  2014-08-11          False              02

In [64]:
cyc_viol2014.to_csv('cyc_viol2014.csv')

In [ ]:
# Read
cyc_viol2014 = pd.read_csv('cyc_viol2014.csv', sep=',',engine='python')

In [68]:
cyc_viol2014.sort_values(['CAMIS','BORO','date'])
# it could be that initial inspections
# are from previous year?! 
# how can be distinguished initial and corresponding re-inspection
# within a given CAMIS, BORO
# if re-inspection == True and exist re-inspection = False in previous date
# that re-inspection = False is the corresponding 
# without changing CAMIS, BORO,year
# two new columns for date and violation group for each re-inspection type
cyc_viol2014.head()

       CAMIS       BORO  year        date  re-inspection violation group
0   41312955     QUEENS  2014  2014-04-01           True              02
12  40718557  MANHATTAN  2014  2014-02-25          False              04
22  40660124   BROOKLYN  2014  2014-09-13          False              10
23  41709379   BROOKLYN  2014  2014-05-19          False              06
34  40609590  MANHATTAN  2014  2014-08-11          False              02

In [76]:
cyc_viol2014.set_index(['CAMIS', 'BORO','year'])
#.pivot('re-inspection')
#.unstack(['re-inspection'])
#cyc_viol2014.unstack('re-inspection')

ValueError: cannot label index with a null key